
<div id="app">
  
        <fieldset>
                <legend>Choisir les nombre de joueurs</legend>
        <div class="form-group">
                <button type="submit" [style.background-color]="toggle6 ? 'blue' : 'red'" (click)="choosePlayer1()"  class="btn btn-lg btn-block">1 joueur</button>
                <div class="divider"></div>
                <button type="submit" [style.background-color]="toggle7 ? 'blue' : 'red'" (click)="choosePlayer2()" class="btn btn-lg btn-block">2 joueurs</button>
                
              </div>
<br/>
<label>Choisir les nombre de émoticônes</label>
              <div class="form-group2">
                  
                    <button [style.background-color]="toggle1 ? 'blue' : 'red'" name="toggle1" (click)="chooseEmoNumber1()" type="submit"  >1</button>
                    <div  class="divider2"></div>
                    <button [style.background-color]="toggle2 ? 'blue' : 'red'" (click)="chooseEmoNumber2()" type="submit"  >3 </button>
                    <div class="divider2"></div>
                    <button [style.background-color]="toggle3 ? 'blue' : 'red'" (click)="chooseEmoNumber3()" type="submit"  >5 </button>
                    <div class="divider2"></div>
                    <button [style.background-color]="toggle4 ? 'blue' : 'red'" (click)="chooseEmoNumber4()" type="submit"  >7 </button>
                    <div class="divider2"></div>
                    <button [style.background-color]="toggle5 ? 'blue' : 'red'" (click)="chooseEmoNumber5()" type="submit"  >9</button>
                    
                  </div>
                  <br/>
                  <div class="form-group4">
                    <img  src="assets/images/1.png" *ngIf="showfirst4"  alt="image" height="50px" width="50px">
                    <div class="divider2"></div>
                    <img  src="assets/images/2.png" *ngIf="showfirst3" alt="image" height="50px" width="50px">
                    <div class="divider2"></div>
                    <img  src="assets/images/9.png" *ngIf="showfirst2" alt="image" height="50px" width="50px">
                   
                    <div class="divider2"></div>
                    <img  src="assets/images/4.png" *ngIf="showfirst1" alt="image" height="50px" width="50px">
                    <div class="divider2"></div>
                    <img  src="assets/images/5.png" *ngIf="showfirst" alt="image" height="50px" width="50px">
                    <div class="divider2"></div>
                    <img  src="assets/images/6.png" *ngIf="showfirst1" alt="image" height="50px" width="50px">
                    <div class="divider2"></div>
                    <img  src="assets/images/7.png" *ngIf="showfirst2" alt="image" height="50px" width="50px">
                    <div class="divider2"></div>
                    <img  src="assets/images/8.png" *ngIf="showfirst3" alt="image" height="50px" width="50px">
                    <div class="divider2"></div>
                    <img  src="assets/images/0.png" *ngIf="showfirst4" alt="image" height="50px" width="50px">
                  </div>
                  <br/>
                  <div class="form-group3">
                  
                        <button    type="submit"   >Commencer</button>
                        
                        
                      </div>
                  
                  </fieldset>
                  <br/>
   

  

    <div style="position: relative;">
        <video #video id="video" autoplay playsinline ></video>
        <div id="box1" *ngIf="showfirst5" ></div>
        <div id="box2" *ngIf="showfirst6" ></div>

        
        
      </div>


  
 
</div>






